body {
    margin: 0;
    padding: 0;
    color: #222222;
    background-color: #000;
    font-family: MiaoZiGuan, serif;
}

#bg-image{
    width: 100vw;
    height: 100vh;
    background: url(https://api.yimian.xyz/img?type=wallpaper) no-repeat center center fixed;
    opacity: 0.7;
    -o-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
}

#nav-left {
    width: 300px;
    height: calc(100% - 60px);
    background-color: rgba(255, 255, 255, 0.45);
    position: absolute;
    top: 30px;
    left: 30px;
    backdrop-filter: blur(10px);
    border-radius: 24px;
}

#main-right {
    width: calc(100% - 390px);
    height: calc(100% - 60px);
    background-color: rgba(255, 255, 255, 0.45);
    position: absolute;
    top: 30px;
    right: 30px;
    backdrop-filter: blur(10px);
    border-radius: 24px;
}

.head-img {
    width: 128px;
    margin: 30px auto 20px;
    display: block;

}

.username {
    padding: 0 36px;
}

.my-say {
    text-align: center;
    font-size: 16px;
    user-select: none;
    height: 30px;
}