body {
    margin: 0;
    padding: 0;
    color: #222222;
    background-color: #000;
    font-size: 18px;
}

#bg-image{
    width: 100vw;
    height: 100vh;
    background: url(https://api.yimian.xyz/img?type=wallpaper) no-repeat center center fixed;
    opacity: 0.7;
    -o-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
}

.home-nav-left {
    width: 300px;
    height: calc(100% - 60px);
    background-color: rgba(255, 255, 255, 0.45);
    position: absolute;
    top: 30px;
    left: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    backdrop-filter: blur(10px);
    border-radius: 24px;
}
.home-nav-left::-webkit-scrollbar {
    display: none;
}

.head-img {
    width: 128px;
    margin: 30px auto 10px;
    display: block;

}

.username {
    padding: 0 36px;
}

.my-say {
    text-align: center;
    user-select: none;
    height: 30px;
}

.home-nav-left ul {
    padding: 25px;
}

.home-nav-left ul li {
    width: 210px;
    height: 26px;
    margin: 6px 0;
    border-radius: 10px;
    background-color: #ffffff30;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
}

.home-nav-left ul li::before {
    content: '';
    display: block;
    width: 0;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 10px;
    border-radius: 4px;
    background-color: #09f;
    transition: all 0.3s;
}
@keyframes ul-li-hover {
    from{
        width: 0;
    }
    to {
        width: 18px;
    }
}
.home-nav-left ul li:hover::before {
    width: 4px;
    animation: ul-li-hover ;
}

#main-right {
    width: calc(100% - 390px);
    height: calc(100% - 60px);
    background-color: rgba(255, 255, 255, 0.45);
    position: absolute;
    top: 30px;
    right: 30px;
    backdrop-filter: blur(10px);
    border-radius: 24px;
}